/* General setup */

* {
box-sizing: border-box;
}

body {
font: 1.2em / 1.5 system-ui;
letter-spacing: 0.5px;
line-height: 1.5;
margin: 0 auto;
padding: 0 20px;
min-width: 980px;
max-width: 1400px;
}

/* Layout */

main {
display: grid;
grid-template-columns: 5fr 2fr 2fr;
gap: 40px;
padding: 20px 0;
}

/* header and footer */

header {
text-align: center;
letter-spacing: 2px;
border-bottom: 5px solid #aa6666;
}

footer {
    border-top: 5px solid #aa6666;
}

footer p {
text-align: center;
}
h2{
    margin-bottom : 0px;
}
p{
    text-indent: 2rem;
    
line-height: 1.6;
  margin-top: 1em;
  margin-bottom: 1em;

    
}

a:link {
color: darkgreen;
text-decoration: underline;text-decoration:none}
a:visited{
    color: rgb(63, 4, 48); text-decoration: underline
}
a:hover{
    color: red;text-decoration:none 
}

    


a[href^="http"]{

 padding-right: 12px;
 background: url("./photo/external-link-52.png") no-repeat right center;
 background-size: 12px 12px;

}
ul,
ol {
  line-height: 1.6;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em; /* Optional: adds space before list items */
}

li {
  margin-bottom: 0.5em; /* Optional: space between list items */
}
